<% if user_signed_in? && current_user.employee.admin? %>
  <div class="autoflexinline">
    <h1>Liste des devis</h1>
    <%= link_to "Créer un nouveau devis", new_quote_path, class: "link-button" %>
  </div>

  <div class="btn-group mb-3" role="group">
    <%= link_to "Tous", quotes_path, class: "btn-filter btn btn-secondary #{'active' if params[:status].blank?}" %>
    <%= link_to "Création", quotes_path(status: "Création"), class: "btn-filter btn btn-primary #{'active' if params[:status] == 'Création'}" %>
    <%= link_to "Prêt à envoyer", quotes_path(status: "Prêt à envoyer"), class: "btn-filter btn btn-primary #{'active' if params[:status] == 'Prêt à envoyer'}" %>
    <%= link_to "Envoyé", quotes_path(status: "Envoyé"), class: "btn-filter btn btn-primary #{'active' if params[:status] == 'Envoyé'}" %>
    <%= link_to "Accepté", quotes_path(status: "Accepté"), class: "btn-filter btn btn-primary #{'active' if params[:status] == 'Accepté'}" %>
    <%= link_to "Rejeté", quotes_path(status: "Rejeté"), class: "btn-filter btn btn-primary #{'active' if params[:status] == 'Rejeté'}" %>
    <%= link_to "À modifier", quotes_path(status: "À modifier"), class: "btn-filter btn btn-primary #{'active' if params[:status] == 'À modifier'}" %>
  </div>

  <!-- Filtres par période -->
  <div class="btn-group mb-3" role="group">
    <%= link_to "Année passée", quotes_path(params.permit(:status).merge(period: "last_year")), class: "btn-filter btn btn-primary #{'active' if params[:period] == 'last_year'}" %>
    <%= link_to "Cette année", quotes_path(params.permit(:status).merge(period: "this_year")), class: "btn-filter btn btn-primary #{'active' if params[:period] == 'this_year'}" %>
    <%= link_to "Mois en cours", quotes_path(params.permit(:status).merge(period: "this_month")), class: "btn-filter btn btn-primary #{'active' if params[:period] == 'this_month'}" %>
    <%= link_to "Mois précédent", quotes_path(params.permit(:status).merge(period: "last_month")), class: "btn-filter btn btn-primary #{'active' if params[:period] == 'last_month'}" %>
  </div>

  <h2>
    Devis <%= params[:status].presence || "Tous" %> -
    <%= params[:period].present? ? translate_period(params[:period]) : "toutes périodes" %>
  </h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Projet</th>
        <th>Statut</th>
        <th>Date de création</th>
      </tr>
    </thead>
    <tbody>
      <% @quotes.each do |quote| %>
        <tr>
          <td><%= link_to quote.number, quote_path(quote), class: "text-decoration-none" %></td>
          <td><%= link_to quote.project.name, project_path(quote.project), class: "text-decoration-none" if quote.project %></td>
          <td><%= quote.status %></td>
          <td><%= l(quote.created_at, format: :short) %></td>

            <%#= link_to "Voir", quote_path(quote), class: "btn btn-info" %>
            <%#= link_to "Modifier", edit_quote_path(quote), class: "btn btn-warning" %>
            <%#= link_to "Supprimer", quote_path(quote), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %>

        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="details formdiv" style="height: 400px;">
    <h1>Vous n'êtes pas autorisé à voir cette page.</h1>
  </div>
<% end %>
