<% if user_signed_in? && current_user.employee.admin? %>
  <div class="autoflexinline">
    <%= link_to "Retour à la liste des devis", quotes_path, class: "link-buttonQuote" %>
    <%#= link_to "Supprimer", quote_path(@quote), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %>
    <%#= button_to "Supprimer", quote_path(@quote), method: :delete, data: { confirm: "Êtes-vous sûr ?" } , class: "link-buttonQuote" %>
    <% if @quote.items.any? %>
      <%= link_to "Actualiser le status", edit_quote_path(@quote), class: "link-buttonQuote" %>
      <%= button_to "Dupliquer le devis", duplicate_quote_path(@quote), method: :post, class: "link-buttonQuote" %>
      <%= link_to "Générer le PDF", quote_path(@quote, format: :pdf),target: "_blank",class: "link-buttonQuote" %>
    <% end %>
    <% if @quote.status == "Prêt à envoyer" %>
      <%= link_to "Partager avec le client", duplicate_quote_path(@quote), class: "link-buttonQuote" %>
     <!--Remplacez share_quote_path(@quote) par la route appropriée pour envoyer ou partager le devis. -->
    <% end %>
  </div>

  <div class="autoflexinline">
    <div class="details formdiv">
      <h1>Devis <%= @quote.number %></h1>
      <p><strong>Statut :</strong> <%= @quote.status %></p>
      <p><strong>Total (HT) :</strong> <%= number_to_currency(@quote.total_ht, unit: "€") %></p>
      <p><strong>Projet associé :</strong>
        <%= link_to @quote.project.name, project_path(@quote.project) if @quote.project %>
      </p>
    </div>

    <div class="details formdiv">
      <h2>Avenants associés</h2>
      <% if @quote.amendments.any? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Numéro</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @quote.amendments.each do |amendment| %>
              <tr>
                <td><%= amendment.number %></td>
                <td><%= amendment.status %></td>
                <td>
                  <%= link_to "Voir", quote_path(amendment), class: "btn btn-info" %>
                  <%= link_to "Modifier", edit_quote_path(amendment), class: "btn btn-warning" %>
                  <%#= link_to "Supprimer", quote_path(amendment), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %>
                  <%= button_to "Supprimer", quote_path(amendment), method: :delete, data: { confirm: "Êtes-vous sûr ?" } , class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>Aucun avenant associé à ce devis.</p>
      <% end %>
    </div>
  </div>

  <div class="autoflexinline fullHeight">
    <div class="quoteDetails formdiv">
      <div class="autoflexinline">
          <h2>Contenu du devis</h2>
          <%= link_to "#", class: "link-buttonQuote", id: "openModalItem" do %>
              <strong>Ajouter un item</strong>
            <% end %>
            <p class="price">Total HT : <%= number_to_currency(@quote.total_ht, unit: "€") %></p>
            <p class="margin">Marge : <%= number_to_currency(@quote.margin, unit: "€") %>
              (<%= @quote.total_ht.to_f > 0 ? (@quote.margin.to_f / @quote.total_ht.to_f * 100).round(2) : 0 %>%)
            </p>

      </div>

        <!-- Modale pour ajouter un évenement -->
        <div id="itemModal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel">Ajouter un nouvel item au devis</h5>
                <span class="close">&times;</span>
              </div>
              <div class="modal-body">
                <!-- Le formulaire d'ajout d'Item -->
                <%= form_with(model: [@quote, Item.new], local: true) do |form| %>
                    <!-- Champ Catégorie -->
                  <div class="mb-3">
                    <%= form.label :category, "Catégorie" %>
                    <!-- id='category_field' important pour qu'on le récupère en JS -->
                    <!-- list='category-list' => auto-complétion existante -->
                    <%= form.text_field :category,
                          id: "category_field",
                          list: "category-list",
                          class: "form-control",
                          oninput: "fetchDescriptions()" %>

                    <!-- Datalist des catégories existantes -->
                    <datalist id="category-list">
                      <% @categories.each do |cat| %>
                        <option value="<%= cat %>">
                      <% end %>
                    </datalist>
                  </div>
                  <!-- Description -->
                  <div class="mb-3">
                    <%= form.label :description, "Description" %>
                    <%= form.text_field :description,
                          list: "description-list",
                          class: "form-control" %>
                    <datalist id="description-list">
                      <% @descriptions.each do |desc| %>
                        <option value="<%= desc %>">
                      <% end %>
                    </datalist>
                  </div>

                  <!-- Durée -->
                  <div class="mb-3">
                    <%= form.label :duration, "Durée (en heures)" %>
                    <%= form.number_field :duration, class: "form-control" %>
                  </div>

                  <!-- Nombre de personnes -->
                  <div class="mb-3">
                    <%= form.label :nb_people, "Nombre de personnes" %>
                    <%= form.number_field :nb_people, class: "form-control" %>
                  </div>

                  <!-- Taux horaire -->
                  <div class="mb-3">
                    <%= form.label :hourly_cost, "Taux horaire" %>
                    <%= form.number_field :hourly_cost, class: "form-control" %>
                  </div>

                  <!-- Marge main d'oeuvre -->
                  <div class="mb-3">
                    <%= form.label :human_margin, "Marge sur la main d'oeuvre" %>
                    <%= form.number_field :human_margin, class: "form-control" %>
                  </div>

                  <%= form.submit "Ajouter l'item", class: "btn btn-success" %>
                <% end %>
                <!-- Fin du formulaire d'item -->
              </div>
          </div>
        </div>

      <div class="quoteDetails">
        <% if @quote.items.any? %>
          <table class="">
            <thead>
              <tr>
                <td class="quote-item">
                  <div class="tdItem">
                    <div class="tdDesc">
                      <div class="tdLine">
                          <p class=""> </p>
                          <p class=" ">Durée (h)</p>
                          <p class="">Nb. intervenants</p>
                          <p class="">Taux horaire moyen (€)</p>
                          <p class="">Marge sur la main d'oeuvre (%)</p>
                          <p class="">Total HT (€)</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </thead>
            <tbody>
              <% @quote.items.each do |item| %>
                <tr>
                  <td class="quote-item">
                    <!-- Formulaire pour modifier cet item -->
                    <%= form_with(model: [@quote, item], url: quote_item_path(@quote, item), method: :patch, local: true, class: "") do |form| %>
                      <div class="tdItem">
                        <div class="tdDesc">
                          <%= form.text_field :category, class: "form-control form-control-sm quote-item-category quoteMini", placeholder: "Catégorie" %>

                          <div class="tdLine">
                            <%= form.text_field :description, class: "form-control form-control-sm quote-item-description quoteMini", placeholder: "Description" %>
                            <%= form.number_field :duration, class: "form-control form-control-sm quoteMini tdNumbers", placeholder: "Durée (heures)" %>
                            <%= form.number_field :nb_people, class: "form-control form-control-sm quoteMini tdNumbers", placeholder: "Nb personnes" %>
                            <%= form.number_field :hourly_cost, class: "form-control form-control-sm quoteMini tdNumbers", placeholder: "Taux horaire" %>
                            <%= form.number_field :human_margin, class: "form-control form-control-sm quoteMini tdNumbers", placeholder: "Marge main d'oeuvre" %>

                            <p>Total HT : <%= number_to_currency(item.human_total_cost, unit: "€") %></p>
                            <p>Marge : <%= number_to_currency(item.total_margin, unit: "€") %></p>
                          </div>

                        </div>
                        <div class="buttonsInCol">
                          <%= link_to "#", class: "link-buttonQuote", id: "addMaterialModal-#{item.id}" do %>
                            <strong>Ajouter du matériel</strong>
                          <% end %>
                          <%= form.submit "Modifier", class: "link-buttonQuote" %>
                          <%= button_to "Supprimer",quote_item_path(@quote, item),method: :delete,data: { confirm: "Êtes-vous sûr de vouloir supprimer cet item ?" }, class: "link-buttonQuote" %>

                            <!-- La modale d'ajout de matériel pour CET item -->
                            <div id="itemModal2-<%= item.id %>" class="modal">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="addItemModalLabel">Ajouter du matériel pour l'item : <%= item.description %></h5>
                                    <span class="close2">&times;</span>
                                  </div>

                                  <div class="modal-body">
                                    <%= form_with(model: [@quote, item, Material.new], local: true) do |mat_form| %>
                                      <div class="mb-3">
                                        <%= mat_form.label :name, "Matériel" %>
                                        <%= mat_form.text_field :name, class: "form-control" %>
                                      </div>

                                      <div class="mb-3">
                                        <%= mat_form.label :unit_price, "Prix unitaire (€ HT)" %>
                                        <%= mat_form.number_field :unit_price, class: "form-control" %>
                                      </div>

                                      <div class="mb-3">
                                        <%= mat_form.label :quantity, "Quantité" %>
                                        <%= mat_form.number_field :quantity, class: "form-control" %>
                                      </div>

                                      <div class="mb-3">
                                        <%= mat_form.label :margin, "Marge sur le matériel (%)" %>
                                        <%= mat_form.number_field :margin, class: "form-control" %>
                                      </div>

                                      <%= mat_form.submit "Ajouter le matériel", class: "btn btn-primary" %>
                                    <% end %>
                                  </div>

                                </div>
                            </div>
                          </div>
                        </div>
                    <% end %>

                          <% if item.materials.any? %>
                            <div class="buttonsInCol">
                              <% item.materials.each do |mat| %>
                                <p class="material-list">
                                  • <%= mat.name %> (Qté: <%= mat.quantity %>, PU HT: <%= mat.unit_price %>€, marge: <%= mat.margin %>%)
                                  >> Total HT: <%= mat.total_price %>€ dont marge <%= mat.total_margin %>€
                                  <%= button_to quote_item_material_path(@quote, item, mat), method: :delete, class: "btn btn-reject" do %>
                                    <i class="fa-solid fa-xmark"></i>
                                  <% end %>
                                </p>
                              <% end %>
                            </div>
                          <% end %>

                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>Aucun item associé à ce devis.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% else %>
  <div class="details formdiv" style="height: 400px;">
    <h1>Vous n'êtes pas autorisé à voir cette page.</h1>
  </div>
<% end %>








<!-- Script JavaScript pour mettre à jour la liste des descriptions en fonction de la catégorie -->
<script>
function fetchDescriptions() {
  // On récupère la catégorie actuelle
  let category = document.getElementById("category_field").value;

  // Si la catégorie est vide, on efface la liste
  if (!category) {
    document.getElementById("description-list").innerHTML = "";
    return;
  }

  // Appel AJAX vers l’action items#descriptions
  // /items/descriptions?category=XXX
  fetch("/items/descriptions.json?category=" + encodeURIComponent(category))
    .then(response => response.json())
    .then(data => {
      // data est un tableau de descriptions
      let dl = document.getElementById("description-list");
      // On vide d’abord l’ancien contenu
      dl.innerHTML = "";

      // Pour chaque description, on crée un <option>
      data.forEach(function(desc) {
        let option = document.createElement("option");
        option.value = desc;
        dl.appendChild(option);
      });
    })
    .catch((error) => {
      console.error("Erreur dans fetchDescriptions()", error);
    });
}
</script>
