<h1>Modifier l'employé</h1>

<%= form_with(model: @employee, local: true) do |form| %>
  <div>
    <%= form.label :firstname, "Prénom" %>
    <%= form.text_field :firstname %>
  </div>

  <div>
    <%= form.label :lastname, "Nom" %>
    <%= form.text_field :lastname %>
  </div>

  <div>
    <%= form.label :address, "Adresse" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :phone, "Téléphone" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :email, "Email" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :group, "Groupe" %>
    <%= form.text_field :group %>
  </div>

  <div>
    <%= form.label :position, "Poste" %>
    <%= form.text_field :position %>
  </div>

  <div>
    <%= form.label :hoursalary, "Salaire horaire" %>
    <%= form.number_field :hoursalary, step: 0.01 %>
  </div>

  <div>
    <%= form.label :default_days_off, "Jours de congé par défaut" %><br>

    <%= form.check_box :default_days_off, { multiple: true }, 1, nil %> Lundi<br>
    <%= form.check_box :default_days_off, { multiple: true }, 2, nil %> Mardi<br>
    <%= form.check_box :default_days_off, { multiple: true }, 3, nil %> Mercredi<br>
    <%= form.check_box :default_days_off, { multiple: true }, 4, nil %> Jeudi<br>
    <%= form.check_box :default_days_off, { multiple: true }, 5, nil %> Vendredi<br>
    <%= form.check_box :default_days_off, { multiple: true }, 6, nil %> Samedi<br>
    <%= form.check_box :default_days_off, { multiple: true }, 0, nil %> Dimanche<br>
  </div>

  <%= form.submit "Mettre à jour" %>
<% end %>

<%= link_to "Retour à la liste des employés", employees_path %>
