<div class="halfwidth formdiv">
  <h1>Ajouter un nouvel employé</h1>

  <%= form_with(model: @employee, local: true) do |form| %>
    <div>
      <%= form.label :firstname, "Prénom" %>
      <%= form.text_field :firstname %>
    </div>

    <div>
      <%= form.label :lastname, "Nom" %>
      <%= form.text_field :lastname %>
    </div>

    <div>
      <%= form.label :address, "Adresse" %>
      <%= form.text_field :address %>
    </div>

    <div>
      <%= form.label :phone, "Téléphone" %>
      <%= form.text_field :phone %>
    </div>

    <div>
      <%= form.label :email, "Email" %>
      <%= form.email_field :email %>
    </div>

    <!-- Gestion du groupe -->
    <div>
      <%= form.label :group, "Groupe" %>
      <%= form.select :group, Employee.distinct.pluck(:group), { prompt: "Choisir un groupe" }, { id: "group_select" } %>
      <p>Ou ajoutez un nouveau groupe :</p>
      <%= form.text_field :new_group, placeholder: "Nouveau groupe", id: "new_group_field" %>
    </div>

        <!-- Gestion du poste -->
    <div>
      <%= form.label :position, "Poste" %>
      <%= form.select :position, Employee.distinct.pluck(:position), { prompt: "Choisir un poste" }, { id: "position_select" } %>
      <p>Ou ajoutez un nouveau poste :</p>
      <%= form.text_field :new_position, placeholder: "Nouveau poste", id: "new_position_field" %>
    </div>

    <div>
      <%= form.label :hoursalary, "Salaire horaire" %>
      <%= form.number_field :hoursalary, step: 0.01 %>
    </div>

    <div>
      <%= form.label :default_days_off, "Jours de congé par défaut" %><br>
      <%= form.check_box :default_days_off, {}, 1, nil %> Lundi<br>
      <%= form.check_box :default_days_off, {}, 2, nil %> Mardi<br>
      <%= form.check_box :default_days_off, {}, 3, nil %> Mercredi<br>
      <%= form.check_box :default_days_off, {}, 4, nil %> Jeudi<br>
      <%= form.check_box :default_days_off, {}, 5, nil %> Vendredi<br>
      <%= form.check_box :default_days_off, {}, 6, nil %> Samedi<br>
      <%= form.check_box :default_days_off, {}, 0, nil %> Dimanche<br>
    </div>

    <%= form.submit "Créer", class: "link-button" %>
  <% end %>

  <%= link_to "<< Retour à la liste des employés", employees_path, class: "link-button" %>
</div>
