<!--<%= link_to "Retour à la liste", employees_path %>-->
<% if @event && @event.errors.any? %>
  <div class="alert alert-danger">
    <h4>Erreur(s) lors de la création de l'événement :</h4>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="flexinline">
  <div class="halfwidth formdiv">
    <div class="flexinline">
      <h1>Détails de l'employé</h1>
      <%= link_to edit_employee_path(@employee), class: "btn-edit" do %>
        <i class="fa fa-pencil-alt"></i>
      <% end %>
    </div>

    <!--<%= button_to "Supprimer", employee_path(@employee), method: :delete, data: { confirm: "Êtes-vous sûr ?" } %>-->

    <p><strong>Prénom :</strong> <%= @employee.firstname %> <strong style="margin-left:30px">NOM :</strong> <%= @employee.lastname %></p>
    <p><strong>Email :</strong> <%= @employee.email %></p>
    <p><strong>Téléphone :</strong> <%= @employee.phone %></p>
    <p><strong>Adresse :</strong> <%= @employee.address %></p>
    <p><strong>Poste :</strong> <%= @employee.position %> <strong style="margin-left:30px">Groupe :</strong> <%= @employee.group %></p>
    <p><strong>Salaire horaire :</strong> <%= number_to_currency(@employee.hoursalary, unit: "€") %></p>
  </div>
  <div class="halfwidth">
    <div class="nav-lateral-menu">
      <ul style="list-style-type: none;">
        <li>
          <%= link_to "#", class: "btn btn-lat-menu", id: "openModal" do %>
            <strong>Ajouter un événement (congé, télétravail, heures supp.)</strong>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: "btn btn-lat-menu", id: "openExpenseModal" do %>
            <strong>Ajouter une note de frais</strong>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="autoflexinline">
  <div class="details formdiv">
    <h3>Congés <%= Date.today.year %> :</h3>
    <ul class="flexincolleft">
      <% if defined?(@current_year_leaves) && @current_year_leaves.present? && @current_year_leaves.any? %>
        <% @current_year_leaves.each do |leave| %>
          <li class="flexinlineleft">
            Du <%= l(leave.start_date, format: "%d/%m") %> au <%= l(leave.end_date, format: "%d/%m") %>
            <% if leave.part_of_day.present? %>
              (<%= leave.part_of_day == 'morning' ? 'Matin' : 'Après-midi' %>)
            <% end %>
            <!-- Bouton pour supprimer l'événement -->
            <% if leave.start_date <= Date.today || (user_signed_in? && current_user.employee.admin?) %>
              <%= button_to employee_event_path(@employee, leave), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce congé ?" }, class: "btn btn-reject" do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li class="flexinlineleft">Aucun congé pris cette année.</li>
      <% end %>
    </ul>
  </div>
    <div class="details formdiv">
    <h3>Heures supplémentaires <%= Date.today.year %> </h3>
      <ul class="flexincolleft">
        <% @employee.events.where(event_type: 'heures_supplémentaires').each do |overtime| %>
          <li class="flexinlineleft">
            Le <%= l(overtime.start_date, format: "%d/%m") %> : <strong><%= overtime.overtime_hours %> heures</strong>
            <% if overtime.start_date <= Date.today || (user_signed_in? && current_user.employee.admin?) %>
              <%= button_to employee_event_path(@employee, overtime), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet arrêt maladie ?" }, class: "btn btn-reject" do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
<div class="autoflexinline">
  <div class="details formdiv">
    <h3>Télétravail <%= Date.today.year %> :</h3>
    <ul class="flexincolleft">
      <% if @current_year_teleworks.present? && @current_year_teleworks.any? %>
        <% @current_year_teleworks.each do |telework| %>
          <li class="flexinlineleft">
            Le <%= l(telework.start_date, format: "%d/%m") %>
            <% if telework.part_of_day.present? %>
              (<%= telework.part_of_day == 'morning' ? 'Matin' : 'Après-midi' %>)
            <% end %>

            <!-- Bouton pour supprimer l'événement -->
            <% if telework.start_date <= Date.today || (user_signed_in? && current_user.employee.admin?) %>
              <%= button_to employee_event_path(@employee, telework), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce jour de télétravail ?" }, class: "btn btn-reject" do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li class="flexinlineleft">Aucun jour de télétravail cette année.</li>
      <% end %>
    </ul>
  </div>
  <div class="details formdiv">
    <h3>Arrêts maladie <%= Date.today.year %> :</h3>
    <ul class="flexincolleft">
      <% if @current_year_sick_leaves.present? && @current_year_sick_leaves.any? %>
        <% @current_year_sick_leaves.each do |sick_leave| %>
          <li class="flexinlineleft">
            Du <%= l(sick_leave.start_date, format: "%d/%m") %> au <%= l(sick_leave.start_date, format: "%d/%m") %>
            <% if sick_leave.part_of_day.present? %>
              (<%= sick_leave.part_of_day == 'morning' ? 'Matin' : 'Après-midi' %>)
            <% end %>

            <!-- Bouton pour supprimer l'événement -->
            <% if sick_leave.start_date <= Date.today || (user_signed_in? && current_user.employee.admin?) %>
              <%= button_to employee_event_path(@employee, sick_leave), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet arrêt maladie ?" }, class: "btn btn-reject" do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li class="flexinlineleft">Aucun arrêt maladie cette année.</li>
      <% end %>
    </ul>
  </div>
</div>

<div class="autoflexinline">
  <div class="details formdiv">
    <h3>Notes de frais <%= Date.today.year %></h3>
    <div class="expense-list">
      <% if @employee.expenses.any? %>
        <% @employee.expenses.each do |expense| %>
          <div class="expense-item">
            <span class="expense-date">
              Le <%= expense.date.present? ? l(expense.date, format: "%d/%m") : "Date inconnue" %>
            </span>
            <span class="expense-amount">
              <strong><%= number_to_currency(expense.amount, unit: "€") %></strong>
            </span>
            <span class="expense-description">
              <%= expense.description %>
            </span>
            <span class="expense-status <%= expense.status.present? ? (expense.status == 'approuvé' ? 'approved' : expense.status == 'refusé' ? 'rejected' : 'pending') : 'pending' %>">
              <%= expense.status.present? ? expense.status.capitalize : "En attente" %>
            </span>

            <% if expense.image.attached? %>
              <span class="expense-view">
                <%= link_to "Voir justificatif", url_for(expense.image), target: "_blank", class: "btn btn-view" %>
              </span>
            <% end %>
            <% if user_signed_in? && current_user.employee.admin? %>
              <% if expense.id.present? %>
                <span class="expense-delete">
                <%= button_to employee_expense_path(@employee, expense), method: :delete,
                  data: { confirm: "Êtes-vous sûr de vouloir supprimer cette note de frais ?" },
                  class: "btn btn-reject" do %>
                    <i class="fa-solid fa-xmark"></i>
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="expense-empty">Aucune note de frais enregistrée cette année.</div>
      <% end %>
    </div>
  </div>
  <div class="details formdiv">
  <h3>Notes de frais - <span id="selectedYear"><%= @selected_year %></span></h3>

  <div class="chart-container">
    <!-- ID pour stocker les données -->
    <div id="expensesChartData"
         data-employee-id="<%= @employee.id %>"
         data-expenses="<%= raw @approved_expenses_by_month.to_json %>">
    </div>

    <!-- Canvas du Graphique -->
    <canvas id="expensesChart" width="400" height="200"></canvas>
  </div>

  <!-- Navigation des années -->
  <div class="chart-navigation">
    <div class="year-navigation">
      <a href="#" id="prevYear" class="btn-filter">Année précédente</a>
      <%#= button_tag "Année en cours", type: 'button', id: "currentYearBtn", class: "btn-filter" %>
      <a href="#" id="nextYear" class="btn-filter">Année suivante</a>
    </div>
  </div>
</div>

</div>

<div class="formdiv fullwidth">
  <div class="details formdiv">
    <h2>Congés antérieurs</h2>
    <ul class="flexincolleft">
      <% if @leave_counts.present? %>
        <% @leave_counts.each do |year, total_days| %>
          <li class="flexinlineleft"><strong>Année <%= year %> :</strong> <%= total_days %> jour(s) de congé</li>
        <% end %>
      <% else %>
        <li class="flexinlineleft">Aucun congé enregistré.</li>
      <% end %>
    </ul>
  </div>
</div>


<!-- Modale pour ajouter un évenement -->
<div id="eventModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Nouvel événement</h2>

    <% if @event.errors.any? %>
      <div class="alert alert-danger">
        <h4>Erreur(s) lors de la création de l'événement :</h4>
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(model: [@employee, @event], local: true) do |form| %>
      <div>
        <%= form.label :event_type, "Type d'événement" %>
        <%= form.select :event_type, [["Congé", "congé"], ["Télétravail", "télétravail"], ["Heures Supplémentaires", "heures_supplémentaires"], ["Arrêt Maladie", "arrêt_maladie"]], prompt: "Sélectionner un type", id: "event_type_select" %>
      </div>

      <div>
        <%= form.label :start_date, "Date de début" %>
        <%= form.date_field :start_date, id: "start_date_field", min: Date.today-31 %>
      </div>

      <div>
        <%= form.label :end_date, "Date de fin" %>
        <%= form.date_field :end_date, id: "end_date_field", min: Date.today-31 %>
      </div>

      <!-- Champ pour les heures supplémentaires -->
      <div id="overtime_hours_field" style="display: none;">
        <%= form.label :overtime_hours, "Nombre d'heures supplémentaires" %>
        <%= form.number_field :overtime_hours, step: 0.5, min: 0, max: 8 %>
      </div>

      <!-- Champs pour matinée ou après-midi -->
      <div id="part_of_day_fields" style="display: none;">
        <%= form.label :part_of_day, "Moment de la journée" %><br>
        <%= form.radio_button :part_of_day, "", checked: true, id: "part_of_day_full_day" %>
        <%= form.label :part_of_day, "Journée entière", for: "part_of_day_full_day" %><br>
        <%= form.radio_button :part_of_day, "morning", id: "part_of_day_morning" %>
        <%= form.label :part_of_day, "Matinée", for: "part_of_day_morning" %><br>
        <%= form.radio_button :part_of_day, "afternoon", id: "part_of_day_afternoon" %>
        <%= form.label :part_of_day, "Après-midi", for: "part_of_day_afternoon" %>
      </div>

      <%= form.submit "Créer l'événement", class: "button" %>
    <% end %>
  </div>
</div>
<!-- Modale pour Ajouter une Note de Frais -->
<div id="expenseModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Nouvelle Note de Frais</h2>

    <% if @expense && @expense.errors.any? %>
      <div class="alert alert-danger">
        <h4>Erreur(s) lors de la création de la note de frais :</h4>
        <ul>
          <% @expense.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(model: [@employee, @employee.expenses.new], local: true, html: { id: "expenseForm" }) do |form| %>
      <div>
        <%= form.label :amount, "Montant (€)" %>
        <%= form.number_field :amount, step: 0.01, min: 0, required: true %>
      </div>

      <div>
        <%= form.label :date, "Date" %>
        <%= form.date_field :date,value: Date.today, required: true %>
      </div>

      <div>
        <%= form.label :description, "Description" %>
        <%= form.text_field :description, required: true %>
      </div>

      <div>
        <%= form.label :image, "Justificatif (facultatif)" %>
        <%= form.file_field :image, accept: "image/*" %>
      </div>

      <div>
        <%= form.label :status, "Statut" %>
        <%= form.select :status, [["En attente", "en_attente"], ["Approuvé", "approuvé"], ["Refusé", "refusé"]], selected: "en_attente", disabled: true %>
      </div>

      <div>
        <%= form.label :fixed_expense, "Frais fixe (pris en compte chaque mois)" %>
        <%= form.check_box :fixed_expense %>
      </div>

      <%= form.submit "Créer la note de frais", class: "button" %>
    <% end %>
  </div>
</div>
