<div>
  <strong>smartFlow</strong>
</div>

<div class="nav-lateral-menu">
  <ul style="list-style-type: none;">
    <li>
        <%= link_to root_path, class:"btn btn-lat-menu" do %>
          <i class=""></i> <strong>Tableau de bord</strong>
        <% end %>
    </li>
    <li>
        <%= link_to employees_path, class:"btn btn-lat-menu" do %>
          <i class=""></i> <strong>Employés</strong>
        <% end %>
    </li>
    <li>
        <%= link_to clients_path, class:"btn btn-lat-menu" do %>
          <i class=""></i> <strong>Clients</strong>
        <% end %>
    </li>
    <li>
        <%= link_to projects_path, class:"btn btn-lat-menu" do %>
          <i class=""></i> <strong>Projets</strong>
        <% end %>
    </li>
    <li>
        <%= link_to root_path, class:"btn btn-lat-menu" do %>
          <i class=""></i> <strong>Fournisseurs</strong>
        <% end %>
    </li>
       <li>
        <%= link_to root_path, class:"btn btn-lat-menu" do %>
          <i class=""></i> <strong>Stocks</strong>
        <% end %>
    </li>
    <li>
      <%= link_to quotes_path, class: "btn btn-lat-menu" do %>
        <i class=""></i> <strong>Devis</strong>
      <% end %>
    </li>
    <li>
        <%= link_to root_path, class:"btn btn-lat-menu" do %>
          <i class=""></i> <strong>Planning</strong>
        <% end %>
    </li>
    <li>
        <%= link_to root_path, class:"btn btn-lat-menu" do %>
          <i class=""></i> <strong>Finances</strong>
        <% end %>
    </li>
    <li>
        <%= link_to root_path, class:"btn btn-lat-menu" do %>
          <i class=""></i> <strong>Messagerie</strong>
        <% end %>
    </li>
    <li>
        <%= link_to settings_path, class:"btn btn-lat-menu" do %>
          <i class=""></i> <strong>Paramètres</strong>
        <% end %>
    </li>
  </ul>

  <div class="nav-lateral-menu-footer">
    <img src="" alt="" class="avatar">
    <div class="nav-lateral-menu-footer-text">

        <% if user_signed_in? %>
          <p>Hello John 👋</p>
          <p class="LightGrey">23/01/1984</p>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>

    </div>

  </div>

</div>
