<% if user_signed_in? && current_user.employee.admin? %>

  <div class="flexinline">
    <div class="halfwidth formdiv">
      <h1>Détails du client</h1>

      <p><strong>Prénom :</strong> <%= @client.firstname %></p>
      <p><strong>Nom :</strong> <%= @client.lastname %></p>
      <p><strong>Email :</strong> <%= @client.email %></p>
      <p><strong>Téléphone :</strong> <%= @client.phone %></p>
      <p><strong>Adresse :</strong> <%= @client.address %></p>
      <p><strong>RIB :</strong> <%= @client.rib %></p>

      <%= link_to "Modifier", edit_client_path(@client), class:"link-button" %>
      <%= link_to "Retour à la liste", clients_path, class:"link-button" %> 
      <%= button_to "Supprimer", client_path(@client), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class:"link-button" %>

    </div>
  </div>

  <div class="formdiv fullwidth">
  <div id="chat-data"
      data-messageable-type="Client"
      data-messageable-id="<%= @client.id %>"
      data-current-user-email="<%= current_user.email %>"></div>

    <div id="messages" class="chat-customer" style="border: 0px solid #ccc; padding: 10px; height: 300px; overflow-y: auto;">
      <% (@messages || []).each do |msg| %>
        <div class="message-container <%= msg.user.email == current_user.email ? 'self' : 'other' %>">
          <div class="message-bubble">
            <%= msg.content %>
          </div>
          <div class="message-timestamp">
            <%= msg.full_name %> - <%= msg.created_at.strftime("%d/%m à %H:%M") %>
          </div>
        </div>
      <% end %>
    </div>

    <form id="new_message" action="#">
      <div id="message_input_container">
        <input type="text" id="message_content" placeholder="Taper votre message" autocomplete="off" required>
      </div>
    </form>

  </div>
<% else %>
  <div class="details formdiv" style="height: 400px;">
    <h1>Vous n'êtes pas autorisé à voir cette page.</h1>
  </div>
<% end %>
