<h1>Paramètres</h1>

<table class="table">
  <thead>
    <tr>
      <th>Clé</th>
      <th>Valeur</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.label.humanize %></td>
        <td>
          <% if setting.value_type == "boolean" %>
            <%= check_box_tag nil, "1", setting.parsed_value, disabled: true %>
          <% elsif setting.value_type == "float" %>
            <%= number_with_precision(setting.parsed_value, precision: 2) %>
          <% else %>
            <%= setting.value %>
          <% end %>
        </td>
        <td>
          <%= link_to "Modifier", edit_setting_path(setting), class: "btn btn-warning btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
