<% @settings.each do |setting| %>
  <tr>
    <td><%= setting.label.humanize %></td>
    <td>
      <% case setting.value_type
         when "boolean" %>
        <%= hidden_field_tag "settings[#{setting.id}]", "0" %>
        <%= check_box_tag "settings[#{setting.id}]", "1", setting.parsed_value %>
      <% when "float" %>
        <%= number_field_tag "settings[#{setting.id}]", setting.parsed_value, step: "any" %>
      <% else %>
        <%= text_field_tag "settings[#{setting.id}]", setting.value %>
      <% end %>
    </td>
    <td>
      <%= link_to "Modifier", edit_setting_path(setting), class: "btn btn-warning btn-sm" %>
    </td>
  </tr>
<% end %>
