<div class="details formdiv">
  <h3>Notes de frais - Tous les employés</h3>

  <!-- Sélecteur de date -->
  <div class="filter-container">
    <label for="start_date">Afficher les dépenses depuis :</label>
    <input type="date" id="start_date" value="<%= @start_date %>">
    <button id="updateChart" class="btn-filter">Mettre à jour</button>
  </div>

<div id="expensesChartData"
     data-expenses="<%= @expenses_by_employee.to_json.gsub('"', '&quot;') %>">
</div>

  <div class="chart-container">
    <div id="globalExpensesChartData"
         data-expenses="<%= raw @expenses_by_employee.to_json %>"
         data-start-date="<%= @start_date %>">
    </div>
    <div id="expensesChartData"
      data-expenses="<%= @expenses_by_employee.to_json.gsub('"', '&quot;') %>">
    </div>
    <canvas id="expensesChart" width="400" height="130"></canvas>
  </div>
</div>
