<% if user_signed_in? && current_user.employee.admin? %>
  <div class="formdiv fullwidth">
      <div>
        <h4>Filtrer par état de projet :</h4>
        <%= link_to "Tous les projets", projects_path(filter: 'all'),
                    class: "btn-filter #{'active' if params[:filter].blank? || params[:filter] == 'all'}" %>
        <%= link_to "Projet achevé", projects_path(filter: 'completed'),
                    class: "btn-filter #{'active' if params[:filter] == 'completed'}" %>
        <%= link_to "Projet en cours", projects_path(filter: 'in_progress'),
                    class: "btn-filter #{'active' if params[:filter] == 'in_progress'}" %>
        <%= link_to "Projet non débuté", projects_path(filter: 'not_started'),
                    class: "btn-filter #{'active' if params[:filter] == 'not_started'}" %>
      </div>
    <table>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to "#{project.name}", project_path(project), class:"link-text" %></td>
            <td><%= link_to "#{project.client.lastname} #{project.client.firstname}", project_path(project), class:"link-text" %></td>
            <td><%= project.client.phone %></td>
            <td><%= project.start_at %></td>
            <td><%= project.end_at %></td>
            <td><%= project.progression %> %</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Créer un nouveau projet", new_project_path, class: "link-button"  %>
  </div>
<% else %>
  <div class="details formdiv" style="height: 400px;">
    <h1>Vous n'êtes pas autorisé à voir cette page.</h1>
  </div>
<% end %>
