<div class="formdiv fullwidth">

  <table>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to "#{project.name}", project_path(project), class:"link-text" %></td>
          <td><%= link_to "#{project.client.lastname} #{project.client.firstname}", project_path(project), class:"link-text" %></td>
          <td><%= project.client.phone %></td>
          <td><%= project.start_at %></td>
          <td><%= project.end_at %></td>
          <td><%= project.progression %> %</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Créer un nouveau projet", new_project_path, class: "link-button"  %>
</div>
